h1 {color: orange;
    font-size: 50px;
  }

.contents {
  color: rgb(11,111,187);
  background-color: rgb(189,222,248);
}

footer {
  font-size: 12px;
  color: white;
  background-color: rgb(1,20,35);
}

*a:link {
  color: rgb(189,222,248)
}

*a:visited {
  color: rgb(76,165,234)
}
