body {
  background-color: rgb(7,14,61);
  background-image: url(back_star.png);
  max-width: 65%;
  margin-left: auto;
  margin-right: auto;
}

main {
  width: fit-content;
  padding: 1%;
  background-color: rgb(255,255,255);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  box-shadow: 0 0 15px 2px rgba(0,0,0,0.7);
  overflow-wrap: break-word;
}

h1 {color: orange;
    font-size: 50px;
  }

img {
  border: solid rgb(0,40,74);
}

.contents {
  width: fit-content;
  color: rgb(11,111,187);
  background-color: rgb(189,222,248);
  border: solid rgb(0,40,74);
}

footer {
  font-size: 12px;
  color: white;
  background-color: rgb(1,20,35);
}

footer a:link {
  color: rgb(189,222,248);
}

footer a:visited {
  color: rgb(76,165,234);
}
